## Identify businesses to use as data points. 
Create subset df of reviews from HAUs and count by business name to find most reviewed businesses.
Do for all cities at once. Assess relationship between sample and population for each city as well as the total set.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import timeit

In [5]:
reviews = pd.read_csv('../8 - Project 1/Local Files/yelp_review.csv')

In [6]:
elite_users = pd.read_csv('elite_users.csv')

In [7]:
row_users = pd.read_csv('row_users.csv')

In [8]:
reviews.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [10]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261668 entries, 0 to 5261667
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
date           object
text           object
useful         int64
funny          int64
cool           int64
dtypes: int64(4), object(5)
memory usage: 361.3+ MB

In [12]:
reviews.describe()

              stars        useful         funny          cool
count  5.261668e+06  5.261668e+06  5.261668e+06  5.261668e+06
mean   3.727739e+00  1.385085e+00  5.091961e-01  5.860917e-01
std    1.433593e+00  4.528727e+00  2.686168e+00  2.233706e+00
min    1.000000e+00 -1.000000e+00  0.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  2.000000e+00  0.000000e+00  1.000000e+00
max    5.000000e+00  3.364000e+03  1.481000e+03  1.105000e+03

In [9]:
elite_users.head()

,Unnamed: 0,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,...,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,# elite years
0,44,fV8Yr0c5tFQTQ2SRRJHXHw,Michelle,50,2007-08-22,"HDb4fBWIAQ-foS8qLJty9w, x0hBZsmBTYxhjjx0MShz1A...",43,12,5,1,...,0,0,0,9,7,7,7,4,0,1
1,74,aw973Pm1nrTbRjP4zY9B9g,Kenny,762,2008-09-23,"Cit5yho-DqotA0BnXHErTQ, bm2DqfP4P454FjEtCbZdkQ...",174,151,67,27,...,2,7,0,16,52,47,47,14,1,7
2,246,i5jSTSpXJtvM-ExWRttglw,Evelina,85,2014-03-17,"aLvxbF2DueKFOqul9eVWCw, JesJ-LaNfr3pKhL7gWhDrw...",51,12,33,13,...,0,0,0,5,16,13,13,14,4,4
3,414,snDjs1hdh7JOWv4jjbXPDw,Michael,447,2008-11-19,"uIjj7EIVBU4kGNgmKPO02A, kroQYWSj-BhIEXT4VwLRHA...",35,36,7,13,...,2,0,0,11,25,22,22,17,3,5
4,544,bBRPy8zUvNc0NGbGmkjrZg,Jan,462,2009-03-30,"T78RIzZ3VPQ9C8njU_VIuA, gxSDEZYcRn_uFWZzQCDKrA...",2166,1853,1681,95,...,151,120,92,221,466,764,764,279,197,4

## Find Elite Reviews

Create subset of reviews that were written by elite users.

In [16]:
elite_reviews = pd.merge(reviews, elite_users[['user_id','# elite years']], on = 'user_id', how = 'inner')

In [17]:
elite_reviews.describe()

              stars        useful         funny          cool  # elite years
count  1.197434e+06  1.197434e+06  1.197434e+06  1.197434e+06   1.197434e+06
mean   3.779641e+00  2.641708e+00  1.248433e+00  1.598071e+00   3.929847e+00
std    1.085145e+00  5.535623e+00  3.912788e+00  3.950631e+00   2.357590e+00
min    1.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00   1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00   2.000000e+00
50%    4.000000e+00  1.000000e+00  0.000000e+00  1.000000e+00   3.000000e+00
75%    5.000000e+00  3.000000e+00  1.000000e+00  2.000000e+00   6.000000e+00
max    5.000000e+00  1.608000e+03  9.520000e+02  3.190000e+02   1.300000e+01

In [22]:
print(f"{'{:.2f}'.format(100*len(elite_reviews)/len(reviews))}% of our reviews were written by elite users.")

22.76% of our reviews were written by elite users.

In [18]:
elite_reviews.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool,# elite years
0,ymAUG8DZfQcFTBSOiaNN4w,u0LXt3Uea_GidxRW1xcsfg,9_CGhHMz8698M9-PkVf0CQ,4,2012-05-11,Who would have guess that you would be able to...,0,0,2,6
1,8UIishPUD92hXtScSga_gw,u0LXt3Uea_GidxRW1xcsfg,gkCorLgPyQLsptTHalL61g,4,2015-10-27,Always drove past this coffee house and wonder...,1,0,0,6
2,w41ZS9shepfO3uEyhXEWuQ,u0LXt3Uea_GidxRW1xcsfg,5r6-G9C4YLbC7Ziz57l3rQ,3,2013-02-09,"Not bad!! Love that there is a gluten-free, ve...",1,0,0,6
3,WF_QTN3p-thD74hqpp2j-Q,u0LXt3Uea_GidxRW1xcsfg,fDF_o2JPU8BR1Gya--jRIA,5,2016-04-06,Love this place!\n\nPeggy is great with dogs a...,3,0,0,6
4,PIsUSmvaUWB00qv5KTF1xA,u0LXt3Uea_GidxRW1xcsfg,z8oIoCT1cXz7gZP5GeU5OA,4,2013-05-01,This is currently my parents new favourite res...,1,0,0,6

Group elite reviews by business id to get a count of how many elite reviews each business has.

In [31]:
elite_reviewed_business = pd.DataFrame(elite_reviews.groupby('business_id').agg({'review_id':'count','stars':'mean'}))
elite_reviewed_business = elite_reviewed_business.rename(columns = {'review_id':'# of elite reviews','stars':'average elite stars'})
elite_reviewed_business.sort_values('# of elite reviews', ascending=False)

                        # of elite reviews  average elite stars
business_id
DkYS3arLOhA8si5uUEmHOw                2239             4.267084
K7lWdNUhCbcnEvI0NhGewg                2185             3.835240
RESDUcs7fIiihp38-d6_6g                2178             4.055556
4JNXUYY8wbaaDmk3BPzlWw                2168             4.091790
FaHADZARwnY4yvlvpnsfGA                2097             3.366237
iCQpiavjjPzJ5_3gPD5Ebg                1625             4.072000
2weQS-RnoOBhb1KsHKyoSQ                1558             3.792683
eoHdUeQDNgQ6WYEnP2aiRw                1427             3.192712
ujHiaprwCQ5ewziu0Vi9rw                1421             3.664321
rcaPajgKOJC2vo_l3xa42A                1413             4.082803
cYwJA2A6I12KNkm2rtXd5g                1365             3.928205
f4x1YBxkLrZg652xt2KR5g                1335             3.869663
5LNZ67Yw9RD6nf4_UhXOjw                1311             4.257056
JmI9nslLD7KZqRr__Bg6NQ                1273             3.357423
Wxxvi3LZbHNIDwJ-ZimtnA                1252             4.232428
MpmFFw0GE_2iRFPdsRpJbA                1243             4.207562
SMPbvZLSMMb7KU76YNYMGg                1177             3.836024
El4FC8jcawUVgw_0EIcbaQ                1142             3.465849
P7pxQFqr7yBKMMI2J51udw                1105             3.852489
KskYqH1Bi7Z_61pH6Om8pg                1103             4.212149
ECOkEVUodMLUxvI0PMI4gQ                1015             3.273892
QJatAcxYgK1Zp9BRZMAx7g                1010             4.017822
XZbuPXdyA0ZtTu3AzqtQhg                1007             4.026812
NvKNe9DnQavC9GstglcBJQ                1007             3.877855
na4Th5DrNauOv-c43QQFvA                 992             4.116935
yQab5dxZzgBLTEHCw9V7_w                 952             3.573529
uGupeWqih0yIcCg8anM1PA                 945             4.252910
Cni2l-VKG_pdospJ6xliXQ                 942             3.864119
WUq8HJHIZU4uteB154XN7w                 934             3.723769
AV6weBrZFFBfRGCbcRGO4g                 924             2.931818
...                                    ...                  ...
iXILWr-GJranhyeJ729fMQ                   1             3.000000
IfX2ytysZgGL-qaDs3Phew                   1             1.000000
iXO790cIqW9JekmehkIvhQ                   1             1.000000
IfJQM9w7sj_KVGDIeLGqgQ                   1             5.000000
AR-0m_40n2TTxR-P8V7P9A                   1             5.000000
AR6mrWO89rq-ku_t_E71AA                   1             4.000000
iXZ6HaOlbMcAbVS416RRtw                   1             5.000000
If4WyWHBoUxoc0M2FEBByw                   1             5.000000
3X0QDh0_IXJO9cnbKzO0Mg                   1             5.000000
iWcNhK2nxnczJ0Fdx6As4w                   1             5.000000
U06BAxn42Os2eTlVYMcKRw                   1             1.000000
iVD0KaXjwhGv-nnkIQ-JuQ                   1             5.000000
OTajPsjpX_IZBhqIHv97_w                   1             2.000000
iVLXDYgI1Uftw4WezWBuOg                   1             4.000000
iVSkAV8XE4oiQtIR9KqhRg                   1             4.000000
3XKr1DIfsA4Tys-eELpfCQ                   1             5.000000
iVeEWUH5zlA5umlIvg2SWA                   1             5.000000
U0S6YqfxHWWJBWPwjUXcLQ                   1             2.000000
iVrb7ThpH1abqs37FMMuog                   1             1.000000
iVtGaLh-xW0udQ8G_lSwhQ                   1             1.000000
IfntnpZzqC1yUygWxKygug                   1             5.000000
iWOFMQr6G3cur8nIWytohQ                   1             5.000000
IfeykY9cxgDEpZJPkBC6CA                   1             3.000000
iW2aJMm0fYxPLqLepfoXFA                   1             5.000000
iW4ZPbHkYRQoa5N8S10WTA                   1             4.000000
AQd_7LAc-iXLP9-6Wej5Hw                   1             5.000000
U0GlqWcwmSe1A3sJE6tYLg                   1             5.000000
IfbUjz77N6Qlh6H0usKozg                   1             5.000000
iWKiZFyXKxjt7NUJWf6uCw                   1             5.000000
Uwx1btib8lhsfHTUb2Cycw                   1             5.000000

[119495 rows x 2 columns]

In [39]:
threshold = 50
print(f"There are {len(elite_reviewed_business[elite_reviewed_business['# of elite reviews'] >= threshold])} businesses that have at least {threshold} elite reviews")

There are 4173 businesses that have at least 50 elite reviews

In [36]:
elite_reviewed_business = elite_reviewed_business[elite_reviewed_business['# of elite reviews'] >= threshold]

Create new data frame of reviews for businesses that have at least 50 reviews by elite members.

In [37]:
elite_reviews = elite_reviews[elite_reviews['business_id'].isin(elite_reviewed_business.index)]
elite_reviews.describe()

,stars,useful,funny,cool,# elite years
count,502414.000000,502414.000000,502414.000000,502414.000000,502414.000000
mean,3.870611,2.585625,1.348780,1.706549,3.994248
std,1.021485,6.440867,4.770303,4.274791,2.403569
min,1.000000,0.000000,0.000000,0.000000,1.000000
25%,3.000000,0.000000,0.000000,0.000000,2.000000
50%,4.000000,1.000000,0.000000,1.000000,3.000000
75%,5.000000,3.000000,1.000000,2.000000,6.000000
max,5.000000,1608.000000,952.000000,319.000000,13.000000

In [38]:
len(set(elite_reviews['business_id']))

4173

Export elite reviews to csv.

In [40]:
elite_reviews.to_csv('elite_reviews.csv')

In [41]:
row_users.head()

,Unnamed: 0,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,0,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,uUzsFQn_6cXDh6rPNGbIFA,Tiffy,1,2017-03-02,None,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,mBneaEEH5EMyxaVyqS-72A,Mark,6,2015-03-13,None,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,W5mJGs-dcDWRGEhAzUYtoA,Evelyn,3,2016-09-08,None,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,4E8--zUZO1Rr1IBK4_83fg,Lisa,11,2012-07-16,None,4,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Create dataframe with reviews that were written only by non-elite users.

In [42]:
row_reviews = pd.merge(reviews, row_users[['user_id','friends']], on = 'user_id', how = 'inner')

Reduce row reviews down to include only elite reviewed businesses.

In [44]:
row_reviews = row_reviews[row_reviews['business_id'].isin(elite_reviewed_business.index)]

In [45]:
row_reviews.describe()

              stars        useful         funny          cool
count  1.240788e+06  1.240788e+06  1.240788e+06  1.240788e+06
mean   3.788351e+00  7.610760e-01  3.085749e-01  3.033250e-01
std    1.375422e+00  6.145162e+00  3.460114e+00  1.564024e+00
min    1.000000e+00 -1.000000e+00  0.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
max    5.000000e+00  3.364000e+03  1.481000e+03  1.105000e+03

Export row reviews to csv

In [46]:
row_reviews.to_csv('row_reviews.csv')